.authordetail{
    display: block;
    width: 60%;
    background-color: rgba(#010101, 0.8);
    margin: 1rem auto auto auto;
    padding: 1.5rem;
    border-radius: 12px;
    line-height: 1.4;
    overflow-y: scroll;
}
#fullname{
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: aliceblue;
}