  
  /* (B) BOOKS */
  #our-books {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    
    align-items: stretch;
    grid-gap: 10px;

    & a{
      text-decoration: none;
    }

  }
  
  
  #our-books .book-wrap {
    background: #b8932f;
    padding: 15px;
    border: 1px solid #808080;
    border-radius: 8px;
    
  }
  
  
  #our-books .book-wrap:hover {
    cursor: pointer;
    background: #fdffe6;
  }
  
  #our-books .book-title {
    font-weight: 700;
    font-size: 1.2em;
    color: #333;
  }
  
  .book-isbn{
    padding-top: 10px;
    font: weight 400;
    color: darkblue;
  }
  
  #our-books .book-desc {
    margin-top: 10px;
    color: #010101;
  }