nav{
    width: max-content;
    height: 3rem;
    background: rgba(79, 62, 19, 0.6);
    position: sticky;
    top: 0;
    }

.header{
    &__menu{
        padding-top: 1rem;
        // color:aliceblue;
        
        a{
            padding: 1rem;
            font-weight: 700;
            color: #441503;
            // color:rgb(79, 166, 241);
            text-decoration: none;

            &:hover{
                background: #441503;
                color: #6e6242;
            }
        }
    }
}

.active{
    // pointer-events: none;
    /* for "disabled" effect */
    background: #441503;
    color: #6e6242;
}