// nav{
    // width: fit-content;
    // height: auto;
    // background: rgba(138, 123, 83, 0.8);
    // position: sticky;
    // top: 0;
    // overflow: hidden;
    // }

.header{
    &__menu{
        padding-top: 1rem;
        padding-bottom: 1rem;
        // color:aliceblue;
        
        a{
            padding: 1rem;
            font-weight: 700;
            color: #441503;
            // color:rgb(79, 166, 241);
            text-decoration: none;

            &:hover{
                background: #441503;
                color: #6e6242;
            }
        }
    }
}

.active{
    // pointer-events: none;
    /* for "disabled" effect */
    background: #441503;
    color: #6e6242;
}

.navbar {
    // position: fixed;
    // top: 0;
    overflow: hidden;
    // background-color: #333;
    background-color: rgba(138, 123, 83, 0.9);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }

  .navbar .search-container {
    float: right;
  }
  
  .navbar input[type=search]{
    // float: right;
    padding: 6px;
    border-radius: 8px;
    border: none;
    margin-top: 8px;
    margin-right: 0px;
    font-size: 16px;
  }

  .navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgba(138, 123, 83, 0.9);;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    // background-color: red;
    background-color: #441503;
    color: white;

  }
  
  .search-container button:hover {
    background: #441503;
    color: #fff;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    // background-color: #ddd;
    background-color: #441503;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 600px) {

  .navbar .search-container {
    float: none;
  }
    
   .navbar .dropdown, .navbar a, .navbar input[type=search], .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
   }

   .navbar input[type=search]{
    border: 1px solid #ccc;
   }

  }

  .login{
    float: right;
    
    // #logout{
    //   display:none;
    // }
  }
