table{
  margin: auto;
  font-size: .9rem;
}
table, th, td{
    border: 1px solid #ddd;
    border-collapse: collapse;

    th, td{
      padding: 5px 8px 5px 5px;
    }

}

#readers{
    background-color: azure;
    opacity: .6;

    td:nth-child(6){
        text-align: center;
    }
}

#our-readers {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: stretch;
    grid-gap: 10px;
    
    & a{
      text-decoration: none;
    }
  }
  
  
  #our-readers .reader-wrap {
    background: #b8932f;
    padding: 15px;
    border: 1px solid #808080;
    border-radius: 8px;
    
  }
  
  #our-readers .reader-wrap:hover {
    cursor: pointer;
    background: #fdffe6;
  }
  
  #our-readers .reader-fullname {
    font-weight: 700;
    font-size: 1.2em;
    color: #333;
  }
  
  .reader-id{
    padding-top: 10px;
    font: weight 400;
    color: darkblue;
  }
  
  #our-readers .reader-address {
    margin-top: 10px;
    color: #010101;
  }