// TODO: Review this.
caption{
    padding: 1.5rem;
    font-weight: 700;
    color: antiquewhite;
    text-align: left;
}

#reader-bookloan {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: stretch;
    grid-gap: 10px;
  }
  
#bookloan{
    width: 90%;
    background-color: azure;
    opacity: .8;
    font-size: .9rem;
    
    td{
        &:nth-child(1){
            text-align: right;
        }
        &:nth-child(4){
            text-align: center;
        }
        &:nth-child(5){
            text-align: center;
        }
        &:nth-child(6){
            text-align: center;
        }
        &:nth-child(7){
            text-align: right;
        }
    }
    tr:nth-child(even){
        background-color: #f2f2f2;
    }
}