@import "books";
@import "variables";
@import "topbutton";
@import "header";
@import "footer";
@import "readers";
@import "reader_bookloan";
@import "forms";
@import "modal";

// @import "tooltip";

html {
    box-sizing: border-box;
    font-size: 100%;
    color:#97c5ad;  // Change it.
    scroll-behavior: smooth;
}

*, *:after, *:before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url('/images/pexels-cottonbro-6344226a.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    margin-top: 1rem;
    margin-left: 2rem;
    padding-bottom: 0.5rem;
    font-size: 2.8rem;
    font-weight: 700;
    color: whitesmoke;
}

p{
    margin-left: 3rem;
    font-weight: 400;
    color: wheat;
}

.error{
    width: 70%;
    margin:auto;
    border-radius: 6px;
    background-color: rgba($color: #fff, $alpha: .5);
    box-shadow: 2px 4px 4px 4px rgba(#000000, .8);

    h1, h2{
        padding-left: 0.8rem;
        font-weight: 700;
        color:red;
    }

    p, a {
        padding: 0.5rem;
        margin: 1.5rem;
        font-size: 1rem;
        color: #fff;
    }
    
    a{
        text-decoration: none;
    
        &:hover{
        cursor: pointer;
        padding-top: 0.2rem;
        background-color: rgba($color: #fff, $alpha: .8);
        box-shadow: 6px 6px 6px 4px rgba(#000000, .6);
        border-radius: 15px;
        color: black;
        font-size: 1.1rem;
        }
    }
}