@import "books";
@import "variables";
@import "topbutton";
@import "header";
@import "readers";
@import "reader_bookloan";
@import "forms";
// @import "tooltip";

html {
    box-sizing: border-box;
    font-size: 100%;
    color:#97c5ad;  // Change it.
    scroll-behavior: smooth;
}

*, *:after, *:before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url('/images/pexels-cottonbro-6344226a.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    font-size: 2.8rem;
    font-weight: 700;
    color: whitesmoke;
    padding-bottom: 1rem;
}

p{
    font-weight: 400;
    color: wheat;
}