RewriteEngine on

ErrorDocument 400 /errors/bad
ErrorDocument 404 /errors/bad
ErrorDocument 500 /errors/bad

# Rewrite /foo/bar to /foo/bar.php
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]

# Return 404 if original request is /foo/bar.php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

